<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <link href="css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>  
    <header>
        <%- include('../partials/header') %> 
    </header>
    <main>
        <h4>Login</h4> 
        <form action="/" method="get">
            
            <div class="Padre">
                
                <div class="nombre"> 
                    <label for="nombre"> Nombre: </label>
                    <input type="text" name="nombre" id="nombre"> 
                </div>
                
                <div class="nombre">
                    
                    <label for="email"> mail: </label>
                    <input type="email" name="email" id="email">
                    
                </div>
                
                <div class="nombre">
                    
                    <label for="password"> contraseña: </label>
                    <input type="password" name="password" id="password"> 
                    
                </div>
                
                
                
                
            </div>
            
            <div class="boton">
                
                <input type="submit" value="ingresar"> 
                
            </div>
            
            <div class="link">
                <a href="#"> ¿Olvidaste la contraseña?</a>
            </div>
            
        </form>
    </main>    
    <footer class="footer">
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>