
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enviando un archivo</title>
    <link href="css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>  
    <header> Sing In </header>

    <form action="/" method="get">

    <div class="Padre">

        <div class="nombre"> 
            <label for="nombre"> Nombre: </label>
            <input type="text" name="nombre" id="nombre"> 
        </div>

        <div class="nombre">

            <label for="email"> mail: </label>
            <input type="email" name="email" id="email">

        </div>
      
        <div class="nombre">

            <label for="password"> contraseña: </label>
            <input type="password" name="password" id="password"> 

        </div>

        

    
    </div>

    <div class="boton">

        <input type="submit" value="ingresar"> 
    
    </div>

    <div class="link">
        <a href="#"> ¿Olvidaste la contraseña?</a>
    </div>

    <footer class="footer">
        <div class="contacto"><span style="color: #0D0D0D;"><i class="fa-solid fa-phone"></i></span> 0800-111-1234</div>
        <div class="contacto"><span style="color: #9AD96C;"><i class="fa-brands fa-whatsapp"></i></span> +54 9 11 1234-5678</div>
        <div class="contacto"><p class="horario"style="font-weight: bold;">Horarios de atencion al cliente</p><p class="horario">Lunes a viernes de 8:30hs a 18:30hs<br>Sabados de 9:00hs a 17:30hs</p></div>
        
        <div><i class="fa-solid fa-chevron-down"></i> Nosotros</div>
        <div><i class="fa-solid fa-chevron-down"></i>Informacion</div>
        <div><i class="fa-solid fa-chevron-down"></i>Cuenta</div>

        <div class="redes">
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-facebook fa-2xl"></i>
            <i class="fa-brands fa-twitter fa-2xl"></i>
        </div>
        <p style="color: grey;">@copyright 2022 DH sports</p>
    </footer>

 
    </form>
</body>
</html>