<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro de usuario</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="../css/register.css" rel="stylesheet">

</head>

<body>  
    <header> 
        <%- include('../partials/header') %> 
    </header>
    <main>
        <h4>Registrarme</h4>
        <div class="register-form">
            <form action="/users/register" method="POST" enctype="multipart/form-data">                
                <div class="Padre">                    
                    <div class="nombre"> 
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" required>
                        <span class="feedback"></span> 
                    </div>                    
                    <div class="nombre">                        
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido" required>
                        <span class="feedback"></span>                        
                    </div>                    
                    <div class="nombre">                        
                        <label for="dni">DNI</label>
                        <input type="number" name="dni" id="number" required> 
                        <span class="feedback"></span>                        
                    </div>                    
                    <div class="nombre">                       
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required>
                        <span class="feedback"></span>                        
                    </div>                    
                    <div class="nombre">                        
                        <label for="fecha">Fecha de Nacimiento</label>
                        <input type="date" name="fecha" required style="text-align: center;"> 
                        <span class="feedback"></span>                        
                    </div>                   
                    <div class="nombre">                        
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" required> 
                        <span class="feedback"></span>                        
                    </div>
                    <div class="nombre">                        
                        <label for="repitpassword">Repetir Contraseña</label>
                        <input type="password" name="repitpassword" required> 
                        <span class="feedback"></span>                        
                    </div>
                    <div class="nombre">                        
                        <label for="avatar">Imagen de perfil</label>
                        <input type="file" name="avatar"> 
                        <span class="feedback"></span>                        
                    </div>    
                </div>                
                <div class="boton">                    
                    <input type="submit" value="Crear mi cuenta">                   
                </div>
                <div class="link">
                    <a href="login">¿Ya estás registrado?</a>
                </div>
            </form>
        </div>
        </main>
        <footer class="footer">
        <%- include('../partials/footer') %> 
        </footer>
    </body>
    </html>