<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Mi Carrito</title>    
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/productCart.css">
</head>
<body>

    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h2 class="title">Mi Carrito</h2>
        <div class="main-body">
            <div class="order-articles">         
                <article class="card-item">
                    <div class="item-header">
                        <div class="item-name">Camiseta Argentina</div>
                        <div class="remove-item"><i class="fa-solid fa-trash-can"></i></div>                
                    </div>
                    <div class="item-info">
                        <div class="img-container">
                            <div class="product-img">
                                <img class="item-img" style="width: 70px;" src="images/products/Camiseta-Argentina.png" alt="camiseta-argentina">
                            </div>
                        </div>
                        <div class="product-info-container">
                            <div class="product-detail">
                                <p class="size">Talle: L</p>
                                <p class="product-id">Item No.: XXXX</p>
                                <a href="editar-producto">Editar producto</a>
                            </div>
                            <div class="product-amounts">
                                <div class="item-quantity">
                                    <form action="" method="post">
                                        <label for="item-quantity">Cantidad</label><br>
                                        <select name="item-quantity" id="item-quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>                              
                                        </select>
                                    </form>
                                </div>
                                <div class="item-price">
                                    <p class="item-price-title">Total</p>
                                    <p class="product-price">$17.000</p>
                                </div>
                            </div>
                        </div>                    
                    </div>                
                </article>
                <article class="card-item">
                    <div class="item-header">
                        <div class="item-name">Pelota Al Rihla</div>
                        <div class="remove-item"><i class="fa-solid fa-trash-can"></i></div>                
                    </div>
                    <div class="item-info">
                        <div class="img-container">
                            <div class="product-img">
                                <img class="item-img" style="width: 70px;" src="images/products/pelota.jpg" alt="botines-rugby">
                            </div>
                        </div>
                        <div class="product-info-container">
                            <div class="product-detail">
                                <p class="size"> </p>
                                <p class="product-id">Item No.: XXXX</p>
                                <a href="editar-producto">Editar producto</a>
                            </div>
                            <div class="product-amounts">
                                <div class="item-quantity">
                                    <form action="" method="post">
                                        <label for="item-quantity">Cantidad</label><br>
                                        <select name="item-quantity" id="item-quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>                                        
                                        </select>
                                    </form>
                                </div>
                                <div class="item-price">
                                    <p class="item-price-title">Total</p>
                                    <p class="product-price">$10.000</p>
                                </div>
                            </div>
                        </div>                    
                    </div>                
                </article>
            </div>
            <div class="order-info">
                <div class="discount-code">
                    <form action="" method="post">
                        <div class="order-label">
                            <label for="discount-code">¿Tenés un cupón de descuento?</label>
                        </div>
                        <div class="order-input">
                            <input type="text" name="discount-code" id="discount-code" placeholder="Ingresá tu código aquí" class="input-text">
                            <input type="submit" name="validate" value="Cargar" class="input-button">
                        </div>
                    </form>
                </div>
                <div class="order-summary">
                    <p class="order-summary-title">Resúmen del pedido</p>
                    <div class="subtotal-detail">
                        <article class="subtotal-price">
                            <p>Subtotal</p>
                            <p>$27.000</p>
                        </article>
                        <article class="subtotal-shipping">
                            <p>Envío</p>
                            <p>$1.000</p>
                        </article>
                        <article class="subtotal-discount">
                            <p>Cupón de descuento</p>
                            <p>- $1.000</p>
                        </article>
                    </div>
                    <div class="order-total">
                        <article>
                            <p>TOTAL</p>
                            <p>$27.000</p>
                        </article>
                    </div>
                    <div class="purchase-confirm">
                        <button type="reset">Cancelar</button>
                        <button type="submit">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <%- include('../partials/footer') %>
    </footer> 
   
</body>
