<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Sports</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header>

        <div class="nav-bar">
            <i class="fa-solid fa-bars"></i>
            <div class="search-bar"><i class="fa-solid fa-magnifying-glass"></i>  Buscar producto</div>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

        <img width="100%" src="images/WhatsApp-Image-2022-09-29-at-19.33.19.jpg">
    </header>
</body>
</html>