<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Sports</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <div class="nav-bar">
            <i class="fa-solid fa-bars"></i>
            <div class="search-bar"><i class="fa-solid fa-magnifying-glass"></i>  Buscar producto</div>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

        <img class="banner" width="100%" src="images/banner.jpg">

        <h2 class="titulo">Popular</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" src="images/Camiseta-Argentina.png">
                    <p class="nombre-art">Camiseta Argentina</p>
                <div class="descrip-art">
                    <p class="precio">$17.000</p>
                    <p class="descuento">20%</p>
                </div>
            </div>
        </div>

        <h2 class="titulo">Visto recientemente</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" src="images/Camiseta-Argentina.png">
                    <p class="nombre-art">Camiseta Argentina</p>
                <div class="descrip-art">
                    <p class="precio">$17.000</p>
                    <p class="descuento">20%</p>
                </div>
            </div>
        </div>
        
        <h2 class="titulo">Novedades</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" src="images/Camiseta-Argentina.png">
                    <p class="nombre-art">Camiseta Argentina</p>
                <div class="descrip-art">
                    <p class="precio">$17.000</p>
                    <p class="descuento">20%</p>
                </div>
            </div>
        </div>  

        <h2 class="titulo">Ofertas</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" src="images/Camiseta-Argentina.png">
                    <p class="nombre-art">Camiseta Argentina</p>
                <div class="descrip-art">
                    <p class="precio">$17.000</p>
                    <p class="descuento">20%</p>
                </div>
            </div>
        </div>  

    </header>
</body>
</html>