<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Sports</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <div class="nav-bar">
            <div class="logo"><img width="100px" src="images/logo.jpeg"></div>
            <div class="burguer"><i class="fa-solid fa-bars"></i></div>
            <div class="search-bar"><i class="fa-solid fa-magnifying-glass"></i>  Buscar producto</div>
            <div class="iconos">
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-user-large"></i>
            </div>
        </div>
        <ol class="barra-cat">
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Infantil</a></li>
            <li><a href="#">Deporte</a></li>
            <li><a href="#">Marca</a></li>
            <li><a href="#">Accesorios</a></li>
            
        </ol>
    </header>

    <img class="banner" width="100%" src="images/banner.jpg">

    <div class="categorias">
        <div class="start-icon"><i class="fa-solid fa-futbol fa-border fa-2xl"></i></div>
        <div class="start-icon"><i class="fa-solid fa-basketball fa-border fa-2xl" style="color:#F29544;"></i></div>
        <div class="start-icon"><i class="fa-solid fa-football fa-border fa-2xl" style="color:#A6695B;"></i></div>
        <div class="start-icon"><i class="fa-solid fa-baseball fa-border fa-2xl" style="color:#ABD904"></i></div>
    </div>

    <main>

        <h2 class="titulo">Popular</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/Camiseta-Argentina.png">
                    <p class="nombre-art">Camiseta Argentina</p>
                <div class="descrip-art">
                    <div class="precio">$17.000</div>
                    <div class="descuento">20%</div>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/pelota.jpg">
                    <p class="nombre-art">Pelota Al Rihla</p>
                <div class="descrip-art">
                    <p class="precio">$10.000</p>
                    <p class="descuento"></p>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/running.jpg">
                    <p class="nombre-art">Zapatillas running</p>
                <div class="descrip-art">
                    <p class="precio">$20.000</p>
                    <p class="descuento">5%</p>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/Hockey.jpg">
                    <p class="nombre-art">Palo hockey</p>
                <div class="descrip-art">
                    <p class="precio">$9.000</p>
                    <p class="descuento"></p>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>
        </div>

        <h2 class="titulo">Visto recientemente</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/botines-rugby.jpg">
                    <p class="nombre-art">Botines tapon acero</p>
                <div class="descrip-art">
                    <p class="precio">$30.000</p>
                    <p class="descuento">10%</p>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/camiseta-basket.jpg">
                    <p class="nombre-art">Camiseta Chicago bulls</p>
                <div class="descrip-art">
                    <p class="precio">$15.000</p>
                    <p class="descuento"></p>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>
        </div>
        
        <h2 class="titulo">Novedades</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/camiseta-suplente.jpg">
                    <p class="nombre-art">Camiseta suplente Argentina</p>
                <div class="descrip-art">
                    <p class="precio">$17.000</p>
                    <p class="descuento"></p>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>
        </div>  

        <h2 class="titulo">Ofertas</h2>
        <button type="submit" class="ver-todo">Ver todo <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">

            <div class="contenedor-art">
                <img width="250px" height="290px" src="images/guantes.jpg">
                    <p class="nombre-art">Guantes boxeo</p>
                <div class="descrip-art">
                    <p class="precio">$10.000</p>
                    <p class="descuento">15%</p>
                    <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                </div>
            </div>
        </div>  

    </main>


    <footer class="footer">
        <div class="contacto"><span style="color: #0D0D0D;"><i class="fa-solid fa-phone"></i></span> 0800-111-1234</div>
        <div class="contacto"><span style="color: #9AD96C;"><i class="fa-brands fa-whatsapp"></i></span> +54 9 11 1234-5678</div>
        <div class="contacto"><p class="horario"style="font-weight: bold;">Horarios de atencion al cliente</p><p class="horario">Lunes a viernes de 8:30hs a 18:30hs<br>Sabados de 9:00hs a 17:30hs</p></div>
        
        <div><i class="fa-solid fa-chevron-down"></i> Nosotros</div>
        <div><i class="fa-solid fa-chevron-down"></i>Informacion</div>
        <div><i class="fa-solid fa-chevron-down"></i>Cuenta</div>

        <div class="redes">
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-facebook fa-2xl"></i>
            <i class="fa-brands fa-twitter fa-2xl"></i>
        </div>
        <p style="color: grey;">@copyright 2022 DH sports</p>
    </footer>
</body>
</html>