<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enviando un archivo</title>
    <link href="\login.css" rel="stylesheet">
</head>
<body>  

    <form action="resultado.html" method="POST"></form>
    <p>
    <label for="nombre"> Nombre: </label>
    <input type="text" name="nombre" id="nombre"> 
        </p>
    <p>
        <label for="email"> mail: </label>
        <input type="email" name="email" id="email"> 
      </p>
      
      <p>
         <label for="password"> contraseña: </label>
        <input type="password" name="password" id="password"> 
      </p>

      <p>
        <button type="submit"> </button>
        <input type="submit" value="ENVIAR" required>
      </p>

    
    


 

</body>
</html>