    <div class="contenedor-footer">
        <div class="telefonos-contacto">
            <div class="contacto"><span style="color: #0D0D0D;"><i class="fa-solid fa-phone"></i></span> 0800-111-1234</div>
            <div class="contacto"><span style="color: #9AD96C;"><i class="fa-brands fa-whatsapp"></i></span> +54 9 11 1234-5678</div>
        </div>       
        
        <div class="bottom">
            <details class="atencion-cliente">
                <summary>
                   <b>Horarios de atencion al cliente</b>
                </summary>
                <ul>
                    <li><p>Lunes a viernes de 08:30hs a 18:30hs.</p></li>
                    <li><p>Sabados de 09hs a 17.30hs</p></li>
                </ul>
            </details>
            <details class="aboutus">
                <summary>
                    <b>Sobre Nosotros</b>
                </summary>
                <article>
                    Somos una empresa ficticia creada a partir de un grupo de estudiantes de DigitalHouse. Nuestro prop칩sito es crear una p치gina con una interfaz gr치fica y experiencia
                    agradable al usuario, d치ndole mucha importancia a la operabilidad y funcionalidad del proyecto.
                </article>
            </details>
        </div>
        <div class="redes">
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-facebook fa-2xl"></i>
            <i class="fa-brands fa-twitter fa-2xl"></i>
        </div>
        <p style="color: grey;">@copyright 2022 DH sports</p>
    </div>