    <div class="nav-bar">
        <div class="logo"><img width="100px" src="images/logo.jpeg"></div>
        <div class="burguer"><i class="fa-solid fa-bars" style="color:#FFF;"></i></div>
        <div class="contenedor-busqueda">
            <input type="text" name="busqueda" placeholder="Buscar" class="search-bar"><div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
            <div class="iconos">
            <a href="http://localhost:3000/productcart"><i class="fa-solid fa-cart-shopping" style="color:#FFF;"></i></a>
            <i class="fa-solid fa-heart" style="color:#FFF;"></i>
            <a href="http://localhost:3000/login"><i class="fa-solid fa-user-large" style="color:#FFF;"></i></a>
        </div>
    </div>
    <ol class="barra-cat">
        <li><a href="#">Hombre</a></li>
        <li><a href="#">Mujer</a></li>
        <li><a href="#">Infantil</a></li>
        <li><a href="#">Deporte</a></li>
        <li><a href="#">Marca</a></li>
        <li><a href="#">Accesorios</a></li>
        
    </ol>
