.input{
    height: 2pc;
    border-radius: 17px;
    padding-left: 10px;
    border: transparent;
    margin-bottom: 30px;
    width: 65%;
    margin-left: 17%;
    margin-top: 14px;
}

.boton{
    border-radius: 17px;
    border: transparent;
    background-color: #4CAF50;
    margin-bottom: 20px;
    padding: 15px;
    margin-left: 17%;
    margin-top: 15px;
    opacity: 0.7;
    transition: 0.3s;
}

.boton-reset{
    border-radius: 17px;
    border: transparent;
    padding: 15px;
    background-color: #f44336;
    opacity: 0.7;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-left: 17%; 
}

.boton:hover,.boton-reset:hover {opacity: 1}

label{
    color: white;
}

.sub-label{
    margin-left: 17%;
    margin-top: 10px;
}

.categoria{
    margin-left: 17%;
    margin-bottom: 20px;
}