.input{
    height: 2pc;
    border-radius: 17px;
    padding-left: 10px;
    border: transparent;
    margin-bottom: 30px;
    width: 65%;
    margin-left: 17%;
    margin-top: 14px;
}

.boton{
    font-size: 17px;
    border-radius: 17px;
    border: transparent;
    background-color: #4CAF50;
    margin-bottom: 20px;
    padding: 15px;
    margin-left: 17%;
    margin-top: 15px;
    opacity: 0.7;
    transition: 0.3s;
    width: 9pc;
    color: white;
}
 
.boton-reset{
    font-size: 17px;
    border-radius: 17px;
    border: transparent;
    padding: 15px;
    background-color: #f44336;
    opacity: 0.7;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-left: 17%;
    width: 9pc; 
    color: white;
}

.boton-reset2{
    font-size: 17px;
    border-radius: 17px;
    border: transparent;
    padding: 15px;
    background-color: #f44336;
    opacity: 0.7;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-left: 17%;
    width: 9pc;  
    display: flex;
    justify-content: space-around;
}

.boton-reset2a{
    font-size: 17px;
    border-radius: 17px;
    border: transparent;
    padding: 15px;
    background-color: #f44336;
    opacity: 0.7;
    transition: 0.3s;
    margin-bottom: 10px;
    width: 9pc;  
    display: flex;
    justify-content: space-around;
}

.boton:hover,.boton-reset:hover,.boton-reset2:hover,.volver:hover {opacity: 1}

label{
    color: white;
}

h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.sub-label{
    margin-left: 17%;
    margin-top: 10px;
}

.categoria{
    margin-left: 17%;
    margin-bottom: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 15px;
}

.volver{
    border-radius: 17px;
    border: transparent;
    padding: 15px;
    background-color: #335AA6;
    opacity: 0.7;
    transition: 0.3s;
    margin-bottom: 10px;
    width: 7pc;
    margin-top: 10px;
}

.botones-padre{
    display: flex;
    justify-content: space-evenly;
}