main {
    background-color: #1C1C1F;
     
    }

h1{
    margin: 24px, 10px ;
}

input {
    color: royalblue;
    border-radius: 10px;
    height: 25px;
    padding: 2px;
}

.nombre label {
    color: white;
    margin-bottom: 2px;
}

.nombre {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
    max-width: 450px;
    margin: auto;
}

.recordarme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recordarme label {
    margin-left: 2px;
    color: lightgray
}

h1  {color: white;}

.login-form {
    width: 90%;
    margin: auto;
    max-width: 600px;
}

.Padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.boton{
    text-align: center;
    font-size: 28px;
}

.boton input {
    width: 200px;
    color: #262626;
    background-color: whitesmoke;
}


h4 {
    color: white;
    text-align: center;
}

.link{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.footer{
    padding-top: 10px;
    background-color: #335AA6;
}

.horario{
    text-align: center;
}

.redes{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

main {
    padding-top: 20px;
}

.text-danger{
    color: yellow;
}

a:link{
    color: gainsboro;
}