main {
    margin-bottom: 50px;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.title {
    color: whitesmoke;
    width: 96%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-item {
    background-color: whitesmoke;
    width: 96%;
    border: solid 1px whitesmoke;
    border-radius: 3px;
    padding: 2%;
    color: #262626;
    font-size: 16px;
    margin-bottom: 5px;
    max-width: 400px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.item-info {
    display: flex;
}

.img-container {
    width: 100px;
    height: 100px;
}

.item-img {
    border: solid 1px #8EA8BF;
    border-radius: 3px;
}

.product-img {
    display: flex;
    justify-content: left;
    width: 95%;
}

.product-amounts {
    display: flex;
}

.product-detail {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.product-info-container {
    display: flex;
    flex-direction: column;
}

.order-info {
    color: whitesmoke;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.discount-code form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
}

.order-input {
    margin-left: 10px;
}

.order-articles {
    margin-left: 15px;
}

.order-label {
    margin-bottom: 3px;
}

.order-summary {
    max-width: 440px;
}

.order-summary-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.subtotal-detail {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 80%;
}

.subtotal-detail article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.order-total article {
    display: flex;
    justify-content: space-between;
}

.order-total {
    margin-left: 10px;
    width: 80%;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.purchase-confirm {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10px;
}

button, .input-button {
    padding: 2px;
    background-color: whitesmoke;
    border: solid whitesmoke 1px;
    border-radius: 3px;
    width: 80px;
}

.input-text {
    padding: 2px;
    background-color: whitesmoke;
    border: solid whitesmoke 1px;
    border-radius: 3px;
}


@media (min-width: 360px){
    /*main {
        display: flex;
        flex-direction: column;
        
    }*/
    .product-info-container {
        flex-direction: row;
        padding-top: 10px;
    }
    .product-amounts {
        margin-left: 15px;
    }
}

@media (min-width: 768px) {
    .main-body {
        display: flex;
        flex-direction: row;
    }
    .order-articles {
        flex-grow: 0.5;
        max-width: 550px;
    }
    .order-info {
        flex-grow: 0.5;
        max-width: 550px;
    }
    .card-item {
        max-width: 550px;
    }
}

@media (min-width: 1120px){
    .nav-bar {
        justify-content: space-between;
    }
}