body{
    background-color: black;
}

.Padre{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px black;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boton{
    text-align: center;
    font-size: 30px;
}

/*header{

    color: white;
    text-align: center;
    font-size:28px ;
    border-bottom: solid 10px white;
    margin-bottom: 15px;
    margin-top: 60px;
}*/

h4 {
    color: white;
    text-align: center;
}

.link{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer{
    padding-top: 10px;
    background-color: #335AA6;
}

.contacto{
    background-color: #595959;
    margin-bottom: 10px;
    color: #E3E3E3;
    
}

.horario{
    text-align: center;
}

.redes{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}
main {
    padding-top: 20px;
}