*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    background-color:#8EA8BF ;
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

.search-bar{
    background-color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25%;
    border-color: grey;
    color: grey;
    border-radius: 3%;
} 

.banner{
    margin-bottom: 20px;
}

.categorias{
    display: flex;
    color: #E3E3E3;
    justify-content: space-around;
    margin-bottom: 10px;
}

.fa-solid.fa-border{
    border: 2px solid #D9D9D9;
    border-radius: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

body{
    background-color: #262626;
}

.titulo{
    margin-bottom: 10px;
    color: whitesmoke;
}

.ver-todo{
    margin-bottom: 20px;
    margin-left: 3px;    
}

.articulos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedor-art{
    background-color: #BFBFBF;
    padding: 10px;
    border-radius: 2%;
    margin-bottom: 20px;
}

.descrip-art{
    display: flex;
    position: relative;
}

.nombre-art{
    font-weight: bold;
    margin-bottom: 5px
}

.precio{
    color: ;
}
.descuento{
    color: green;
    margin-left: 15px;
}

.fa-solid.fa-heart{
    position: absolute;
    left: 85%;
    top: 29%;
}


.footer{
    padding-top: 10px;
    background-color: #335AA6;
}

.contacto{
    background-color: #595959;
    margin-bottom: 10px;
    color: #E3E3E3;
}

.horario{
    text-align: center;
}

.redes{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}