*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    background-color:#8EA8BF ;
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

.search-bar{
    background-color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25%;
    border-color: grey;
    color: grey;
    border-radius: 3%;
} 

.banner{

}

body{
    background-color: #262626;
}

.titulo{
    margin-bottom: 10px;
    margin-top: 20px;
    color: whitesmoke;
}

.ver-todo{
    margin-bottom: 20px;
    margin-left: 3px;    
}

.articulos{
    display: flex;
    justify-content: center;
}
.contenedor-art{
    background-color: #BFBFBF;
    padding: 10px;
    border-radius: 2%;
}

.descrip-art{
    display: flex;
}

.nombre-art{
    font-weight: bold;
    margin-bottom: 5px
}

.precio{
    color: ;
}
.descuento{
    color: green;
    margin-left: 15px;
}